body,
h1,
h2,
input,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

.page {
	display: grid;
	grid-template-columns: 1fr;
	min-height: 100vh;
}

@media (min-width: 768px) {
	.page {
		grid-template-columns: 25% 1fr;
	}
}

.aside {
	align-items: flex-end;
	background-color: #192E39;
	display: none;
	flex-direction: column;
	justify-content: center;
}

@media (min-width: 768px) {
	.aside {
		display: flex;
		padding: 2rem 4rem;
	}
}

.aside-content {
	text-align: right;
}

.aside-content .h1 {
	color: #fff;
	font: 2rem/1 Ubuntu;
}

.aside-content .p {
	color: rgba(255, 255, 255, .8);
	font: 1rem/1 Ubuntu;
}

.main {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

@media (min-width: 768px) {
	.main {
		justify-content: flex-start;
		padding: 2rem 4rem;
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	max-width: 425px;
}

.main-content .h1,
.label {
	color: #192E39;
}

.main-content .h1 {
	font: 2rem/1 Ubuntu;
}

.main-content .label {
	font: 1rem/1.4 Ubuntu;
}

.input {
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, .2);
	font: 1rem/1 Ubuntu;
	height: 38px;
	padding: 0;
	margin: 0;
	text-indent: 2px;
}

.btn {
	background-color: #8B4D9F;
	border-radius: 2px;
	border: 0;
	color: #fff;
	cursor: pointer;
	font: 1rem/1 Ubuntu;
	height: 40px;
	padding: 0;
}

.divider {
	background-color: rgba(0, 0, 0, .2);
	height: 1px;
}

.main-content .p {
	color: rgba(25, 46, 57, .8);
	font: 1rem/1 Ubuntu;
}

.main-content .p:last-of-type {
	font-size: .8rem;
}

.main-content a {
	color: rgba(079, 135, 230, .8);
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}