body,
h1,
h2,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

.page {
	display: grid;
	grid-template-columns: 25% 1fr;
	min-height: 100vh;
}

.aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 20%;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-content {
	display: flex;
	flex-direction: column;
	max-width: 425px;
}

.input{
	height: 38px;
	padding: 0;
}

.btn{
	height: 40px;
	border: 0;
	padding: 0;
}

.divider {
	height: 1px;
	background-color: rgba(0, 0, 0, .2);
}

.mb-1{
	margin-bottom: 1rem;
}

.mb-2{
	margin-bottom: 2rem;
}

.ml-2{
	margin-left: 2rem;
}