body,
h1,
h2,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

.page {
	display: grid;
	grid-template-columns: 1fr;
	min-height: 100vh;
}

@media (min-width: 768px) {
	.page {
		grid-template-columns: 25% 1fr;
	}
}

.aside {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-color: #192E39;
}

@media (min-width: 768px) {
	.aside {
		display: flex;
	}
}

.aside-content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 2rem 4rem;
	margin-bottom: 10%;
}

.aside-content .h1 {
	color: #fff;
}

.aside-content .p {
	color: rgba(255, 255, 255, .8);
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px) {
	.main {
		justify-content: flex-start;
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	max-width: 425px;
	padding: 2rem 4rem;
}

.main-content .h1,
.label {
	color: #192E39;
}

.input {
	height: 38px;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px;
}

.btn {
	height: 40px;
	border: 0;
	padding: 0;
	background-color: #8B4D9F;
	color: #fff;
	cursor: pointer;
}

.divider {
	height: 1px;
	background-color: rgba(0, 0, 0, .2);
}

.main-content .p {
	color: rgba(25, 46, 57, .8);
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}